<form action="http://www.zillow.com/webservice/GetDemographics.htm">
  <input type='hidden' name='zws-id' value='X1-ZWz1a4ttzh2l8r_2xcn2'>
  <input type="text" name="city" placeholder='City'>
  <input type="text" name="state" placeholder='State'>
  <input type="submit" value="Submit">
</form>
