<div class='jumbotron' id='landing'>
  <h1 class='brand'>Grounded</h1>
      <div class='splash-center'>
        <form action="<%= new_user_url %>" method="get" class="new-form">
          <%= auth_token_input %>
          <input type="text" name="user[email]" placeholder="E-mail Address"></input>
          <input type="submit" value="Sign Up">
        </form>

        <%= link_to "View Properties", '/properties', :class => 'btn btn-default sign-up' %>
      </div>


</div>
