<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed"
                            data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1"
                            aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
  </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <div class='container'>
      <ul class="nav navbar-nav">
        <li><a href="#about">About<span class="sr-only">(current)</span></a></li>
        <li><a href="#contact">Contact</a></li>
        <li><a href="#">Properties</a></li>
      </ul>
    <!-- </div>
    <div class='container user'> -->
      <ul class="nav navbar-nav navbar-right">
        <% if signed_in? %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                                                role="button"
                                                aria-haspopup="true"
                                                aria-expanded="false">
                <%= current_user.email %>
                <span class="caret"></span>
            </a>

            <ul class="dropdown-menu">
              <li><a href="<%= session_url %>"
                     data-method='delete'>Sign Out</a></li>
            </ul>
          </li>
        <% else %>
          <li><a href="#" data-toggle="modal"
                          data-target="#SignUp">Sign Up</a></li>
          <li><a href="#" data-toggle="modal"
                          data-target="#SignIn">Sign In</a></li>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>



<div class='container col-md-2' id='side-bar'></div>
<div class="container col-md-10" id='content'></div>
