<h1>Root El</h1>

<div id='content'></div>

<script>
  $(document).ready(function(){
    Grounded.CURRENT_USER = {
       "email": "<%= current_user.email %>",
       "id": "<%= current_user.id %>"
     }
    Grounded.initialize();
  });
</script>
