<a href="#">
  <img class="nav-logo" alt="Grounded" src='http://res.cloudinary.com/dwhvrflyu/image/upload/v1439775160/grounded_logo_blue_umdzai.png'>
</a>

<a href="#slider" class='sidebar-nav'> Why Grounded? </a><br>
<a href="javascript:void(0)" class='sidebar-nav' id='addNewProperty'> Tell Us About a Listing </a>

<% if (Grounded.CURRENT_USER) { %>
  <div class="invested">
  Invested Properties<br>
  </div>
  <div class="followed">
  Followed Properties<br>
  </div>
  <br>
<% } %>
