<a href="#">
  <img class="nav-logo" alt="Grounded" src='http://res.cloudinary.com/dwhvrflyu/image/upload/v1439775160/grounded_logo_blue_umdzai.png'>
</a>

<div class="spacer" style='height: 13px;'></div>

<% if (Grounded.CURRENT_USER) { %>
  <div class="container-fluid menus" style="padding-left: 0; padding-right: 0;">
    <span class='invest_menu'>Invested</span>
    <span class='follow_menu'>Following</span><br>
    <div class="invested show">
    </div>
    <div class="followed">
    </div>
  </div>
<% } %>

<div class="legend">
  <img src="http://res.cloudinary.com/dwhvrflyu/image/upload/v1441653333/Legend_ymze6a.svg" style="height: 80%; width: 70%">
</div>

<script>
  $('.invest_menu').click(function () {
    $('div.invested').toggleClass('show')
    $('div.followed').toggleClass('show')
    $('.invest_menu').toggleClass('show')
    $('.follow_menu').toggleClass('show')
  })
  $('.follow_menu').click(function () {
    $('.follow_menu').toggleClass('show')
    $('.invest_menu').toggleClass('show')
    $('div.followed').toggleClass('show')
    $('div.invested').toggleClass('show')
  })
</script>
