<a href="#">
  <img class="nav-logo" alt="Grounded" src='http://res.cloudinary.com/dwhvrflyu/image/upload/v1439775160/grounded_logo_blue_umdzai.png'>
</a>

<% if (Grounded.CURRENT_USER) { %>
  Invested Properties<br>
  <div class="invested"></div>
  <br>
  Followed Properties<br>
  <div class="followed"></div>
  <br>
<% } %>
