<div class='index-item-box form'>
  <div class='row add_new'>
    <h5 class='add_new_property'> Add New Property
    <span class='glyphicon glyphicon-plus'></span>
    </h5>
  </div>
  <form class="new_prop_index_item">
    #:<input type='text' name='street_number' size="4"></input>
    Street: <input type='text' name='street' size="15"></input><br>
    City: <input type='text' name='city' size="15"></input>
    State: <input type='text' name='state' size="3" placeholder="'CA'"></input><br>
    Zip Code: <input type='text' name='zip' placeholder='optional'></input>
    <input type='hidden' name='initial' value=true></input>
    <input class='addProperty' type='submit' value='Add Property'></input>
  </form>
</div>
