<div class='index-item-box form'>
  <div class='row add_new'>
    <h5 class='add_new_property'> Add New Property
    <span class='glyphicon glyphicon-plus'></span>
    <span class='glyphicon glyphicon-minus hide'></span>
    </h5>
  </div>
  <div class='errors'></div>
  <form class="new_prop_index_item form-inline" role="form">
    <div class="form-group">
      <label class="control-label" for="street_number">#:
        <input type='text' name='street_number' size="4" id="street_number"></input>
      </label>
    </div>
    <div class="form-group">
      <label class="control-label" for="street">Street:
        <input type='text' name='street' size="15" id="street"></input>
      </label>
    </div>
    <input type='hidden' name='city' value='San Francisco'></input>
    <input type='hidden' name='state' value='CA'></input>
    <input type='hidden' name='initial' value=true></input>
    <div style="text-align: right; width: 87%; margin-top: 5px; color: #000652; font-weight: bold;">San Francisco, CA</div>
    <div class="form-group" style='width: 100%;'>
      <!-- <div class='col-sm-12'> -->
        <input class='addProperty' type='submit' value='Add Property' style="float: right;"></input>
      <!-- </div> -->
    </div>
  </form>
</div>
