<h1> Dummy Property </h1>

<div class='row'>
  <div class='col-md-4'>
    <h1> Slider </h1>

    <p class='years'></p>
    <div id='years-slider' width=300></div>

    <p class='anHomValInc'></p>
    <div id='anHomValInc-slider' width=300></div>

    <p class='perInvPaidWDebt'></p>
    <div id='perInvPaidWDebt-slider' width=300></div>

    <p class='desInitOwn'></p>
    <div id='desInitOwn-slider' width=300></div>
  </div>


  <div class='col-md-8'>
    <table class='table'>
      <thead>
        <tr>
          <th>Values</th>
          <th>Rental</th>
          <th>Co-owner</th>
          <th>Owner</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope='row'>Total Money Up Front</th>
          <td id='moneyUpFront-rental'></td>
          <td id='moneyUpFront-co'></td>
          <td id='moneyUpFront-own'></td>
        </tr>
        <tr>
          <th scope='row'>Total Ongoing Spending</th>
          <td id='ongoingSpending-rental'></td>
          <td id='ongoingSpending-co'></td>
          <td id='ongoingSpending-own'></td>
        </tr>
        <tr>
          <th scope='row'>Investing Excess in Rentals</th>
          <td id='#excessInvest-rental'></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
