<div class='row'>
  <div class='col-md-6'>
    <h1> Slider </h1>

    <p class='years'></p>
    <div id='years-slider' width=300></div>

    <p class='anHomValInc'></p>
    <div id='anHomValInc-slider' width=300></div>

    <p class='perInvPaidWDebt'></p>
    <div id='perInvPaidWDebt-slider' width=300></div>

    <p class='desInitOwn'></p>
    <div id='desInitOwn-slider' width=300></div>
  </div>
</div>

<div class="row">
  <div class="col-md-3 rental">
    <h4>Rental</h4>
  </div>
  <div class="col-md-3 co-owner">
    <h4>Co-owner</h4>
  </div>
  <div class="col-md-3 owner">
    <h4>Owner</h4>
  </div>
</div>
