/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 */

@import "bootstrap-sprockets";
@import "bootstrap";
//
#nav-bar {
  background:#C3C6D3;
}

img.nav-logo {
  height: 50px;
  padding-left: 20px;
}

.navbar-brand {
  padding: 0;
}

#side-bar {
  background: #C3C6D3;
  height: 100vh;
}

div#sidebar.container {
  text-align: center;
}

.follow-invested-item.panel {
  margin: auto;
  margin-top: 20px;
}

.new-form {
  padding-left: 36px
}

div .current-user {
  float: right;
  bottom: 0px;
}

.brand {
  position: absolute;
  top: 10px;
}

.sign-in {
  float: right;
}

.sign-up {
  float: right;
}

div .sign-out {
  float: right;
}

.panel-heading {
    /* padding: 10px 15px; */
    border-bottom: 1px solid transparent;
    border-radius-top-right: 3px;
    border-radius-top-left: 3px;
    background: #337AB7;
    text-align: center;
}

.panel-body {
  background: #ffffff;

}

.splash-center {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  float:none;
  margin: auto auto;
  height: 300px;
  width: 600px;
  border-radius: 10px;
  background: rgba(189, 172, 210, 0.59);
}

.panel {
  width: 70%;
  border: 0
}

.carousel-control.right {
  background-image: none;
}

.carousel-control.left {
  background-image: none;
}

.jumbotron {
    position: relative;
    margin-bottom: 0px;
    height: 95vh;
    background-image: image-url('SFLanding2.jpg');
    background-position: 0% 100%;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}

.logo {
  position: absolute;
  bottom: 90px;
  right: 90px;
}

h5#street_address {
  margin-top: 5px;
  margin-bottom: 5px;
  font-weight: 400;
}

div #myCarousel {
  width: 20%;
  height: 20%;
}

.new-form {
  position: absolute;
  bottom: 0;
  right: 0;
}

.panel-body {
  border-radius: 4px;
}

.progress {
  margin-bottom: 0;
}

div.property_index_item.col-xs-4 {
  padding: 0px;
}

div.index-item-box {
  border: 1px solid#000689;
  padding: 15px 20px;
  border-radius: 5px;
}
