<button type="button" class="close" data-dismiss="modal"
                                    aria-label="Close">
    <span aria-hidden="true">&times;</span>
</button>
<div class='default-image' style="height: 300px; width: 250px">
  <img src="http://res.cloudinary.com/dwhvrflyu/image/upload/v1439765104/no_image_na31i5.png">
</div>
<div class='zillow-chart'></div>
